<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dujiacun.userservice.mapper.UserMapper">
<resultMap id="resultMap" type="dujiacun.userservice.entity.UserEntity">
    <id property="userId" column="user_id" javaType="java.lang.Long"/>
    <result property="userName" column="user_name" javaType="java.lang.String"/>
    <result  property="passWord" column="pass_word" javaType="java.lang.String"/>
    <result  property="isAdmin" column="is_admin" javaType="java.lang.Integer"/>
    <result  property="lastLoginDate" column="last_login_date" javaType="java.util.Date"/>
</resultMap>
    <select id="getByUserName" parameterType="java.lang.String" resultMap="resultMap">
        SELECT user_id,user_name, pass_word, is_admin,last_login_date
        FROM user_master
        WHERE user_name = #{userName,jdbcType=VARCHAR}
    </select>
    <select id="getUserInfo" parameterType="dujiacun.userservice.entity.bo.UserParamBo" resultMap="resultMap">
        SELECT user_id,user_name, pass_word, is_admin,last_login_date
        FROM user_master
        WHERE user_name = #{userParamBo.userName,jdbcType=VARCHAR}
    </select>
    <select id="getByUserId" parameterType="java.lang.Long" resultMap="resultMap">
        SELECT user_id,user_name, pass_word, is_admin,last_login_date
        FROM user_master
        WHERE user_id = #{userId,jdbcType=BIGINT}
    </select>
    <insert id="setUserInfo" parameterType="dujiacun.userservice.entity.bo.UserParamBo">
        INSERT INTO
            user_master
            (user_id,user_name, pass_word, is_admin,last_login_date )
        VALUES(
            #{userParamBo.userId,jdbcType=BIGINT},
            #{userParamBo.userName,jdbcType=VARCHAR},
            #{userParamBo.passWord,jdbcType=VARCHAR},
            #{userParamBo.isAdmin,jdbcType=INTEGER},
            CURRENT_DATE
        )
    </insert>
</mapper>