<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dujiacun.orderservice.mapper.MqMessageMapper">
    <insert id="insertMessage">
        INSERT INTO mq_message (
            message_id,
            biz_type,
            biz_id,
            exchange_name,
            routing_key,
            payload,
            status,
            retry_count,
            max_retry_count,
            fail_reason,
            create_time,
            update_time
        )
        VALUES (
            #{message.messageId,jdbcType=VARCHAR},
            #{message.bizType,jdbcType=VARCHAR},
            #{message.bizId,jdbcType=VARCHAR},
            #{message.exchangeName,jdbcType=VARCHAR},
            #{message.routingKey,jdbcType=VARCHAR},
            #{message.payload,jdbcType=VARCHAR},
            #{message.status,jdbcType=VARCHAR},
            #{message.retryCount,jdbcType=INTEGER},
            #{message.maxRetryCount,jdbcType=INTEGER},
            #{message.failReason,jdbcType=VARCHAR},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        )
        ON CONFLICT (message_id) DO NOTHING
    </insert>

    <update id="updateStatus">
        UPDATE mq_message
        SET
            status = #{status,jdbcType=VARCHAR},
            fail_reason = #{failReason,jdbcType=VARCHAR},
            update_time = CURRENT_TIMESTAMP
        WHERE message_id = #{messageId,jdbcType=VARCHAR}
        <if test="currentStatus != null">
            AND status = #{currentStatus,jdbcType=VARCHAR}
        </if>
    </update>
</mapper>
