<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dujiacun.orderservice.mapper.OrderMapper">
<resultMap id="resultMap" type="dujiacun.orderservice.entity.OrderEntity">
    <id property="orderId" column="order_id" javaType="java.lang.Long"/>
    <result  property="userId" column="user_id" javaType="java.lang.Long"/>
    <result  property="orderPrice" column="order_price" javaType="java.lang.Double"/>
    <result  property="orderStatus" column="order_status" javaType="java.lang.Integer"/>
    <result  property="createTime" column="create_time" javaType="java.util.Date"/>
</resultMap>

    <select id="getOrderInfo" parameterType="dujiacun.orderservice.entity.bo.OrderParamBo" resultMap="resultMap">
        SELECT order_id, user_id, order_price, create_time
        FROM order_info
        WHERE order_id = #{orderParamBo.orderId,jdbcType=BIGINT}
    </select>

    <insert id="saveOrderInfo" parameterType="dujiacun.orderservice.entity.OrderEntity">
        INSERT INTO
            order_info
        (order_id, user_id, order_price, order_status, create_time)

        VALUES (
            #{orderEntity.orderId,jdbcType=BIGINT},
            #{orderEntity.userId,jdbcType=BIGINT},
            #{orderEntity.orderPrice,jdbcType=DOUBLE},
            #{orderEntity.orderStatus,jdbcType=INTEGER},
            CURRENT_TIMESTAMP
        )
    </insert>
</mapper>